.header_wrapper{
  height: 80px;
  width: 100%;
  border-bottom: 1px solid rgba(55,150,246,0.1);
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 64px;
  box-sizing: border-box;
  .name{
    color: #204569;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
  }
  .email{
    font-family: "MontLight",sans-serif;
    font-size: 10px;
    line-height: 13px;
    text-align: right;
  }
  .logout{
    margin-left: 16px;

    &:hover{
      transform: scale(0.9);
    }
  }
}